[Unit]
Description=Check NHL game results every five minutes

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true
RandomizedDelaySec=15
Unit=nhl-standings-email.service

[Install]
WantedBy=timers.target
